body .add-item-button {
    background-color: #d6d3d3;
    position: absolute;
    right: 20px;
    top: 10px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet {
    max-width: 500px;
    padding: 20px;
}

.form-input {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.custom-form-label {
    font-weight: bold;
}

.form-button-stack {
    margin-top: 20px;
}

.form-button-stack button {
    background-color: #2196F3;
    color: white;
}

.form-button-stack button:hover {
    background-color: #0a5bbf;
}
