body .add-item-button {
    position: absolute;
    right: 17px;
    top: 60px;
    background-color: #232323;
    border: 1px solid #232323;
    color: #c8dff7;
    border-radius: 7px;
    box-shadow: unset;
    text-transform: uppercase;
    font-size: 14px;
    width: 143px;
    font-weight: 700;
    transition: all .3s ease;
    padding: 0;
    height: 20px;
}

body .add-item-button:hover, .form-button-stack button:hover {
    background-color: #414141;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet {
    max-width: 500px;
    padding: 20px;
}

.form-input {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.form-input .custom-form-label {
    font-weight: bold;
    margin: 0 10px;
    min-width: 100px;
}

.form-button-stack {
    margin-top: 20px;
}

.form-button-stack button {
    background-color: #232323;
    border: 1px solid #232323;
    color: #c8dff7;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .3s ease;
}

.MuiSvgIcon-root {
    font-size: 19px !important;
}

.css-187ulk2-JoyButton-startDecorator {
    margin-right: 4px !important;
}

.css-ntkmf7-JoySheet-root {
    border-radius: 8px;
    border: 1px solid #0000003b;
}

@media (max-width: 1000px) {
    .add-item-button {
        top: 10px !important;
    }
}