body .counter-card {
    margin: 10px 50px;
    background-color: #d6d3d3;
    padding: 20px;
}

body .total-price-label {
    font-size: larger;
    font-weight: bold;
    color: #2196F3;
}

body .total-price-value {
    font-size: larger;
    color: #32383e;
}