body .counter-card {
    margin: 10px 50px;
    padding: 20px;
    border: 1px solid #e9e9e9;
    box-shadow: unset;
    background: linear-gradient(to right, #0f3a66 0%, #185ea5 100%);
    min-width: 200px;
    float: right;
}

body .total-price-label {
    font-size: 14px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    position: relative;
    top: 13px;
    left: 8px;
}

body .total-price-value {
    font-size: 26px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.css-1cif46e-JoyCardContent-root {
    float: right;
    margin-right: 6px;
}