button.filter-button, button.showall-button {
    background-color: #ffffff;
    color: black;
    border: 1px solid #cdd7e1;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: unset;
    text-transform: uppercase;
    transition: all .3s ease;
}

button.filter-button:hover, button.showall-button:hover {
    background-color: #eaeef7;
}

.add-item-container,
.css-23bzes-JoyButtonGroup-root form {
    border-left: unset !important;
    border-right: unset !important;
}

form .stack-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

form .stack-container .select {
    min-width: 200px;
}