.app-container {
  padding: 20px;
}

/* Style the header as a flex container */
.app-header {
  display: flex;
  align-items: center; /* Vertically align logo and title */
  justify-content: center; /* Horizontally center logo and title */
  margin-bottom: 20px; /* Add space between header and table */
}

/* Style the logo */
.app-logo {
  width: 45px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Add space between logo and title */
}

/* Style the title */
.app-title {
  font-size: 24px;
  color: #2196F3; /* Set your desired title color */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
