body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  color: #b8b8b8;
  clear: both;
  margin-right: 52px;
  text-align: center;
  background-color: #f7f7f7;
  position: fixed;
  left: 0px;
  width: 100vw;
  bottom: 0px;
  border-top: 1px solid #eaeaea;
}
